@font-face {
    font-family: cairo;
    src: url(/Cairo/Cairo-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: cairo;
    src: url(/Cairo/Cairo-Light.ttf);
    font-style: normal;
    font-weight: lighter;
}


@font-face {
    font-family: cairo;
    src: url(/Cairo/Cairo-SemiBold.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: cairo;
    src: url(/Cairo/Cairo-Medium.ttf);
    font-weight: 500;
}




@font-face {
    font-family: cairo;
    src: url(/Cairo/Cairo-ExtraBold.ttf);
    font-style: normal;
    font-weight: bolder;
}



